html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#google-visualization-geomap-0{
    height: 100%;
    width: 100%;
}
#panel {
    position: absolute;
    top: 15px;
    left: 87%;
    margin-left: -180px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}

input{
    font-weight: bold;
}

